<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{.WebTitle}} | Admin_BG</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/admin/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/admin/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/admin/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/admin/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/admin/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/static/admin/plugins/iCheck/all.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" />

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <a href="/admin/index" class="logo">
      <span class="logo-mini"><b>A</b>BG</span>
      <span class="logo-lg"><b>Admin</b>BG</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown notifications-menu">
            <a href="/" class="btn">
              <i class="fa fa-pagelines"></i>
            </a>
          </li>
          {{range .menuShortcut}}
            {{if eq  .IsShortcut 2}}
            <li class="dropdown notifications-menu">
              <a  href="/{{.Module}}{{.Url}}" class="btn dropdown-toggle">
                <i class="{{.Icon}}"></i>
              </a>
            </li>
            {{end}}
          {{end}}

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/static/admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{.Member.NickName}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="/static/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>{{.Member.NickName}}</p>
              </li>

              <li class="user-footer">
                <div class="pull-left">
                  <a href="/admin/operate/person?Id={{.Member.Id}}" class="btn btn-default btn-flat">详情</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">注销</a>
                </div>
              </li>
            </ul>
          </li>

          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/static/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{.Member.NickName}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">WELCOME TO ADMINBG</li>
        {{range .MenuView}}
          {{if ne .EmptyChild true}}
            <li class="treeview">
                {{if eq .Menu.Pid 0}}
                    {{if eq .Menu.IsHide 1}}
                      <a href="/{{.Menu.Module}}{{.Menu.Url}}"><i class="{{.Menu.Icon}}"></i> <span>{{.Menu.Name}}</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                    {{end}}

                    <ul class="treeview-menu">
                      {{range .Child}}
                      {{if eq .IsHide 1}}
                        <li><a href="/{{.Module}}{{.Url}}"><i class="{{.Icon}}"></i><span>{{.Name}}</span></a></li>
                      {{end}}
                      {{end}}
                    </ul>
                {{end}}
            </li>
            {{else}}
              {{if eq .Menu.Pid 0}}
                <li><a href="/{{.Menu.Module}}{{.Menu.Url}}"><i class="{{.Menu.Icon}}"></i><span>{{.Menu.Name}}</span></a></li>
              {{end}}
            {{end}}

        {{end}}
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        {{.WebTitle}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 系统后台</a></li>
        <li class="active">{{.WebTitle}}</li>
      </ol>
    </section>
    <section class="content container-fluid">
      {{.LayoutContent}}
    </section>
  </div>


  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>


  <aside class="control-sidebar control-sidebar-dark">
    <div class="tab-content">
      <div class="tab-pane" id="control-sidebar-home-tab"></div>
    </div>
  </aside>
  <div class="control-sidebar-bg"></div>


</div>

<script src="/static/admin/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/admin/dist/js/adminlte.min.js"></script>
<script src="/static/admin/dist/js/demo.js"></script>

</body>
</html>