<div class="row">
    <div class="col-md-12">
        <div class="box">
            <form class="form-horizontal" method="post" action="/admin/member/doedit?Id={{.User.Id}}">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会员名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="MemberName" name="MemberName" value="{{.User.MemberName}}" placeholder="请输入会员名" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">昵称</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="NickName" name="NickName" value="{{.User.NickName}}" placeholder="请输入昵称" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">邮箱</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Email" name="Email" value="{{.User.Email}}" placeholder="请输入邮箱" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">手机</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Mobile" name="Mobile" value="{{.User.Mobile}}" placeholder="请输入手机">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">状态</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="status" name="Status" >
                                {{if eq .User.Status 1 }}
                                    <option value="1" selected>使用</option>
                                    <option value="2">禁用</option>
                                {{else if eq .User.Status 2}}
                                    <option value="1" >使用</option>
                                    <option value="2" selected>禁用</option>
                                {{else if eq .User.Status -2}}
                                    <option value="-2" selected>默认</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">权限组</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="authGroup" name="authGroup" >
                                {{if ne $.User.Id 0}}
                                {{range .SelectGroup}}
                                    <option value="{{.Id}}" {{if eq $.User.AuthGroup.Id .Id }}selected {{end}}>{{.Name}}</option>
                                {{end}}
                                {{else}}
                                    {{range .SelectGroup}}
                                        <option value="{{.Id}}" >{{.Name}}</option>
                                    {{end}}
                                {{end}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <div class="col-sm-9 pull-right">
                        <button type="submit" class="btn btn-info">保  存</button>
                        <button type="button" class="btn btn-warning" onclick="addCancel()">取  消</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="/static/admin/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    function addCancel() {
        $("#name").val("");
        window.location.href="/admin/member/list";
    }

</script>