<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="box-tools pull-left">
                    {{if ne .ParentMenu.Id 0}}
                    <a href="/admin/menu/list" type="button" class="btn btn-warning "><i class="fa fa-reply">&nbsp;&nbsp;</i>父级：{{.ParentMenu.Name}}</a>
                    {{end}}
                    <a href="/admin/menu/add" type="button" class="btn btn-success "><i class="fa fa-plus">&nbsp;&nbsp;</i>新建</a>
                </div>
                <div class="box-tools  pull-right col-md-6">
                    <form method="post" action="/admin/menu/list" >
                        <div class="input-group">
                            <input type="text" style="width: 200px;" class="form-control pull-right" name="search" value="{{.search}}"  placeholder="名称|模块|地址">
                            <input type="hidden" name="Pid" value="{{.Pid}}">
                            <div class="input-group-btn">
                                <button type="submit" id="search"  class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                                <a  href="/admin/menu/list?Pid={{.Pid}}" class="btn btn-default "><i class="fa fa-close"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 15px"><input type="checkbox" class="flat-red js-checkbox-all"></th>
                        <th>名称</th>
                        <th>模块</th>
                        <th>地址</th>
                        <th>隐藏</th>
                        <th>快捷</th>
                        <th>排序</th>
                        <th>状态</th>
                        <th>子菜单</th>
                        <th>操作</th>
                    </tr>
                    {{range .menuList}}

                        <tr>
                            <td> <input type="checkbox" class="flat-red" id="Ids" name="ids"  value="{{.Id}}"></td>
                            <td>{{.Name}}</td>
                            <td>{{.Module}}</td>
                            <td>{{.Url}}</td>
                            <td>
                                {{if eq .IsHide 1}}
                                    <span class="label label-info">否</span>
                                {{else if eq .IsHide 2}}
                                    <span class="label label-warning">是</span>
                                {{end}}
                            </td>
                            <td>
                                {{if eq .IsShortcut 1}}
                                    <span class="label label-info">无</span>
                                {{else if eq .IsShortcut 2}}
                                    <span class="label label-warning">有</span>
                                {{end}}
                            </td>
                            <td><input class="text-center" id="sort" name="Sort" value="{{.Sort}}" style="width:40px" disabled></td>
                            <td>
                                {{if eq .Status 1}}
                                    <span class="label label-success">正常</span>
                                {{else if eq .Status 2}}
                                    <span class="label label-danger">禁用</span>
                                {{else if eq .Status -2}}
                                    <span class="label label-warning">默认</span>
                                {{end}}
                            </td>
                            <td>
                                {{if ne .ChildCount 0}}
                                <a href="/admin/menu/list?Pid={{.Id}}"><span class="label label-default">查看</span></a>
                                {{else}}
                                    <span class="label label-warning">无</span>
                                {{end}}
                            </td>
                            <td>
                                <a class="btn btn-success" href="/admin/menu/edit?Id={{.Id}}">编辑</a>
                                <a class="btn btn-danger" href="/admin/menu/del?Id={{.Id}}">删除</a>
                            </td>
                        </tr>
                    {{end}}

                </table>
            </div>
            <div class="box-footer clearfix">
                {{template "admin/common/paginator.html".}}
            </div>
        </div>
    </div>
</div>
<script src="/static/admin/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/admin/plugins/iCheck/icheck.min.js"></script>
<script>
    var $checkboxAll = $(".js-checkbox-all"),
        $checkbox = $("tbody").find("[type='checkbox']").not("[disabled]"),
        length = $checkbox.length,
        i=0;

    //iCheck渲染
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass   : 'iradio_flat-green'
    });

    //全选checkbox
    $checkboxAll.on("ifClicked",function(event){
        if(event.target.checked){
            $checkbox.iCheck('uncheck');
            i=0;
        }else{
            $checkbox.iCheck('check');
            i=length;
        }
    });

    $checkbox.on('ifClicked',function(event){
        event.target.checked ? i-- : i++;
        if(i==length){
            $checkboxAll.iCheck('check');
        }else{
            $checkboxAll.iCheck('uncheck');
        }
    });


</script>